In [ ]:
# convert string into list
print(list('Priyanka\'s'))

In [49]:
# join characters of a list. So pass a complete list

''.join(['P', 'r', 'i', 'y', 'a', 'n', 'k', 'a', "'", 's'])

"Priyanka's"

In [ ]:
# Assign different data types to a variables

In [1]:
# convert a continuous string into a list
str1 ='Australia'
l1 = list(str1)
print(l1)

tuple1 = tuple(str1)
print(tuple1[2:7])

set1=set(str1)
print(set1)

['A', 'u', 's', 't', 'r', 'a', 'l', 'i', 'a']
('s', 't', 'r', 'a', 'l')
{'i', 'r', 'u', 'l', 't', 's', 'a', 'A'}

In [50]:
name='Priya'
cars1=3
print('Printing with + operator : '+ name + ' has '+ str(cars1)+ ' Mercedes.')

print('Printing with , operator : ',name , 'has', str(cars1), 'Mercedes.')

Printing with + operator : Priya has 3 Mercedes.
Printing with , operator :  Priya has 3 Mercedes.

In [64]:
inputString=input("Input the number :")
5+float(inputString)

Input the number :10

15.0

In [12]:
#convert to dictionary
string1 ="{'1':'Morning','2':'Noon','3':'Evening'}"

print(string1)
print(type(string1))

dict1=eval(string1)
print(dict1)
print(type(dict1))
#dict

{'1':'Morning','2':'Noon','3':'Evening'}
<class 'str'>
{'1': 'Morning', '2': 'Noon', '3': 'Evening'}
<class 'dict'>

In [9]:
string = "{'A':13, 'B':14, 'C':15}"

string1 = "{1: 'Morning', 2: 'Noon', 3: 'Evening'}"

# eval() convert string to dictionary

dict1 = eval(string)
dict2 = eval(string1)
print(dict1)
print(dict2)

{'A': 13, 'B': 14, 'C': 15}
{1: 'Morning', 2: 'Noon', 3: 'Evening'}

In [ ]:
dict1 = {'taras': 'vaskiv', 'iruna': 'vaskiv'}
str1 = str(dict1)
print(type(str1))

dict2 = eval(str1)
dict2
print(dict2)
print(type(dict2))

In [ ]:
tuple1 = (1,2,3,10,20,30,4,5)
tuple2 = (1,2,3,[10,20,30],4,5)

print(tuple1)
print(type(tuple1))

print(tuple2)
print(id(tuple2))

In [ ]:
tuple1 = (1,2,3,10,20,30,4,5)
tuple2 = ('python','data')

tuple3=(tuple1,tuple2)        # joining two tuples
print("tuple1 :",tuple1)
print(type(tuple1))
print(id(tuple1))

print("tuple2 :",tuple2)
print(id(tuple2))

print("tuple3 :",tuple3)     
print(id(tuple3))

tuple4=tuple1+tuple2           # concatenation of tuples
print("tuple4 :",tuple4)
print(id(tuple4))

### Dictionary

In [45]:
d= {1:[10,20],2:{'a':10,'b':20}, 3: {10,30}, 4:40, 5:50  }
print(d)
print(type(d))

e=d          # deep copy. e is pinting to d, so changes in d are reflected in e
f=d.copy()   # this is copying data so any changes to parent d wont change f

print('d :',id(d))
print('e :',id(e))
print('f :',id(f))

{1: [10, 20], 2: {'a': 10, 'b': 20}, 3: {10, 30}, 4: 40, 5: 50}
<class 'dict'>
d : 86507096
e : 86507096
f : 86678840

In [ ]:
5 in d      # check if articular key is present in dictionary

In [ ]:
myset=d.get(3)     #extract the data at 3rd index of dict

In [ ]:
myset.pop()      # remove the elements

In [ ]:
d
e

### reversing a string

In [48]:
[1,2,3,4][-1:]

[4]

In [46]:
'Priya'[::-1]      # reverses a string

'ayirP'

In [47]:
'Priya'[-1]

'a'

### if else clauses

In [70]:
balance = 6540
if balance < 0:
    print("Insufficient Balance")
elif balance >=0 :
    print("Your balance is :"+'$'+str(balance))
else:
    print("thank you")

Your balance is :$6540

In [8]:
def sum(numbers):
    total = 0
    for number in numbers:
        total += number
    return total
print(sum([8, 2, 3, 0, 7]))

20