In [ ]:
set1 = {1,2,3}
print(set1)

### set removes the duplicates

In [ ]:
set1 =set([1,2,3,4,4])   # converting list to a set
print(set1)

### add elements to the set

In [ ]:
mySet= {'d',58,93}
mySet.add(5)
print(mySet)

mySet.update([5])

print(mySet[3])  ## this can't be done as there is no indexing in set and it is unordered

In [20]:
mySet= {'d',58,93,9,89,'rt','45y'}

### Remove -- removes the elements but gives key error for missing keys

In [21]:
mySet.remove('d')
print(mySet)

{9, 89, 58, 'rt', '45y', 93}

### discard -- removes the elements silently and no error is thrown if there is no element

In [23]:
mySet.discard(89)
print(mySet)

{9, 58, 'rt', '45y', 93}

### pop -- will remove the items randomly

In [26]:
mySet.pop()
print(mySet)

{'45y', 93}

### clear -- this will clear the set elements.. but the memory space will stay there and we can add elements

In [53]:
mySet.clear()
print(mySet)

set()

In [30]:
mySet.update([15,25,35,])
print(mySet)

{25, 35, 15}

### Set operations like -- Union, intersection, symmetric difference, subset

In [38]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1 | set2)       # this will print all elements only once
print(set1.union(set2))
set2.union(set1)

print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

### Intersection

In [56]:
set3 ={1,4}
print(type(set3))
print(set1 & set2)
print(set1.intersection(set2))

set3.intersection_update(set1,set2)   # this function will return the intersection of the all 3 sets and 
                                      # update set3 value with that result
print(set3)

<class 'set'>
{4, 5}
{4, 5}
{4}

### symmetric difference   --- opposite of intersection

In [60]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1^set2)     # here common elements from both these sets will be removed

print(set1.symmetric_difference(set2))     # using function symmetric_difference()

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

### difference - regular one

In [64]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1 - set2)     # subtraction of 2 sets. Only unique elements of first set will be retained

print(set1.difference(set2))  

print(set2 - set1)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}

### issubset function

In [66]:
set1 = {1,2,3,4,5}
set2 = {4,5}

print('is subset ? :', set1.issubset(set2))    # returns true or false

print('is subset ? :', set2.issubset(set1))

is subset ? : False
is subset ? : True

### frozen set -- these are immutable sets

In [71]:
mySet3 = frozenset([2,3,4,5,6,5])
print(mySet3)
print(id(mySet3))

frozenset({2, 3, 4, 5, 6})
114890792