### tuple operations

In [ ]:
# create empty tuple

t1=()
print(t1 ,' type :' ,type(t1))

In [ ]:
t2= ('Priyanka')
print(type(t2))

#so to make it as tuple comma is important
t3  = 'Priyanka',
t4 = ('Priyanka',)
print(type(t3))
print(type(t4))

### Tuple can be empty, can hold single type of data or multiple type of data like list , strings, integers etc

In [ ]:
t5 = (1,2,3,'d','f','g',[4,5,6],10.5, 3+8j)   # tuple with multiple data type elements
print('Tuple value is:',t5, "And ", type(t5))

nestedTuple = (1,2,3,'d','f',[5,6],10, (12,44,56))    # nested tuple so its a tuple inside a tuple
print('Tuple value is:',nestedTuple, "And ", type(nestedTuple))

### Accessing tuple elements

In [ ]:
tuple1 = (10,20,30,40)
print(tuple1[1])
print(tuple1[-1])       # to print last element use negative indexes. last index is -1

print(tuple1 [-2])

### to access individual elements in the nested tuples
treat this as a matrix to access the values

In [ ]:
nestedTuple = (1,2,3,'d','f',[5,6],10, (12,44,56)) 

print(nestedTuple[7][1])
print(nestedTuple[5][0])

print(nestedTuple[-1::-2])   # traversing the tuple from last index with 2 skips/hops. so this will print each of those values
                             # that are at located at two hops

#### slicing of tuple elements

In [ ]:
tuple6 = (10,20,30,40,50)
print(tuple6[2:4])

print(tuple6 [2:])  # print all from 2nd till end

#### altering the values in tuple elements like list elements
for ex- list is mutable so we can change the elements of the list

In [ ]:
tuple7 = (10,20,30,40,50,[33,44,55])

print(id(tuple7))
tuple7[5][0]='MelB'   # elements of the list can be changed and tuple address remains same
print(id(tuple7))     # tuples are immutable
print(tuple7)

#### concat two tuples

In [ ]:
tuple1 = (1,2,3)+(4,5,6)   # direct merge  and hence 6 elements
print(tuple1)
print(tuple1[4])

tuple2 = (1,2,3),(4,5,6)   # simple concat and hence 2 elements
print(tuple2)
print(tuple2[1])

#### Repeating elements  -- use * operator and a number

In [1]:
myT1 = ("I earn 1.2 lakh dollar a year",) * 5
print(myT1)

('I earn 1.2 lakh dollar a year', 'I earn 1.2 lakh dollar a year', 'I earn 1.2 lakh dollar a year', 'I earn 1.2 lakh dollar a year', 'I earn 1.2 lakh dollar a year')

### Deleting from a tuple-- since the tuple is immutable, the entire tuple needs to be deleted.

In [ ]:
myT1  = (1, 2, 3, 4, 5, 6)

del myT1
print(myT1)   # as tuple doesn't exists hence it deletes the entire tuple

### to count the frequency of element in the tuple

In [ ]:
myT1  = (1, 2, 3, 4, 5, 6,5,3,7)
print(myT1.count(3))
print(myT1.count(1))

### Membership operator to find out if the particular element is part of the tuple

In [ ]:
myT2  = (1, 2, 3, 4, 5, 6,5,3,7)

print(6 in myT2)
print(10 in myT2)

In [ ]:
myT2[-1]=20   # you can't add/modify the core elements of tuple as it is immutable, 
              # however if the list is part of the tuple, this can be changed.

In [74]:
len(myT2)

9

In [ ]:
### sorting of tuple elements can't be applied to mix datatype tuples.

In [79]:
myT2mix  = (1, 2, 3, 4,'a',5,'gb')

print(myT2mix)
myT5= sorted(myT2mix)        # this gives error as mix datatypes can't be sorted

(1, 2, 3, 4, 'a', 5, 'gb')

TypeError: '<' not supported between instances of 'str' and 'int'

In [78]:
myT2  = (1, 2, 3, 4, 5, 6,3,7)
myT3= sorted(myT2)

print('original', myT2)
print('sorted',myT3)      # THIS returns the sorted list and doesn't change the original tuple

original (1, 2, 3, 4, 5, 6, 3, 7)
sorted [1, 2, 3, 3, 4, 5, 6, 7]

#### min and max , sum of the tuple

In [80]:
mytp1 = (1, 2, 3, 4,56,78.9, 34, 876)

print(max(mytp1))
print(min(mytp1))
print(sum(mytp1))

876
1
1054.9